html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100%;
}
.flex{
    display: flex;
}

.app .content{
    background: #edf0f5;
    min-height: 100%;
    padding: 100px 15px 15px 315px;
}
.app .content-area{
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
}

.app > .container {
    padding: 70px 15px 20px;
}

.app-header{
    height: 85px;
    background-color: #353058;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
}

.main-sidebar{
    width: 300px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    left: 0;
    top: 0;
    bottom: 0;
    padding-top: 85px;
    background-color: #fff;
    z-index: 50;
}

.main-sidebar .user-info{
    display: flex;
    align-items: center;
    padding: 50px 30px;
    border-bottom: 2px solid #edf0f5;
}

.main-sidebar .name{
    color: #6a6c6f;
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
}

.sidebar-nav{
    padding-top: 10px;
}

.sidebar-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li{
    position: relative;
}

.sidebar-nav li:before{
    content: '';
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.sidebar-nav .analytic:before{
    background-image: url("../img/analytic.png");
}

.sidebar-nav .wallet:before{
    background-image: url("../img/wallet.png");
}

.sidebar-nav .category:before{
    background-image: url("../img/price-tag.png");
}

.sidebar-nav .income:before{
    background-image: url("../img/money-bag.png");
}

.sidebar-nav .outcome:before{
    background-image: url("../img/shopping-cart.png");
}

.sidebar-nav .settings:before{
    background-image: url("../img/settings.png");
}

.sidebar-nav a{
    display: block;
    height: 80px;
    font-size: 23px;
    font-weight: 400;
    line-height: 84px;
    color: #7f96a3;
    text-decoration: none;
    padding-left: 80px;
}
.sidebar-nav a:hover{
    background-color: #eff1f4;
    color: #34383c;
}

.main-sidebar .logout-block{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    border-top: 2px solid #edf0f5;
}

.main-sidebar .logout-btn{
    color: #7f96a3;
    font-size: 23px;
    font-weight: 400;
    line-height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    background: transparent;
    padding-left: 80px;
    display: block;
    text-align: left;
    width: 100%;
}

.main-sidebar .logout-btn:hover{
    background-color: #eff1f4;
    color: #34383c;
    cursor: pointer;
}

.logout-block:before{
    content: '';
    display: block;
    background: url("/img/logout.png") no-repeat;
    width: 31px;
    height: 34px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 10;
}

.activeLoader .loader{
    display: none;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: red;
}

.app.activeLoader .loader{
    display: block;
}
.footer {
    height: 60px;
    background-color: #f5f5f5;
    border-top: 1px solid #ddd;
    padding-top: 20px;
}

.jumbotron {
    text-align: center;
    background-color: transparent;
}

.jumbotron .btn {
    font-size: 21px;
    padding: 14px 24px;
}

.not-set {
    color: #c55;
    font-style: italic;
}

/* add sorting icons to gridview sort links */
a.asc:after, a.desc:after {
    position: relative;
    top: 1px;
    display: inline-block;
    font-family: 'Glyphicons Halflings';
    font-style: normal;
    font-weight: normal;
    line-height: 1;
    padding-left: 5px;
}

a.asc:after {
    content: "\e151";
}

a.desc:after {
    content: "\e152";
}

.sort-numerical a.asc:after {
    content: "\e153";
}

.sort-numerical a.desc:after {
    content: "\e154";
}

.sort-ordinal a.asc:after {
    content: "\e155";
}

.sort-ordinal a.desc:after {
    content: "\e156";
}

.grid-view td {
    white-space: nowrap;
}

.grid-view .filters input,
.grid-view .filters select {
    min-width: 50px;
}

.hint-block {
    display: block;
    margin-top: 5px;
    color: #999;
}

.error-summary {
    color: #a94442;
    background: #fdf7f7;
    border-left: 3px solid #eed3d7;
    padding: 10px 20px;
    margin: 0 0 15px 0;
}


