html,
body {
    height: 100%;
    font-family: 'Roboto', sans-serif;
}

#app {
    height: 100%;
}
.flex{
    display: flex;
}

::-webkit-scrollbar {
    width: 12px;
    background: transparent;
}

::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px #bbbec3;
    border-radius: 10px;
}

::-webkit-scrollbar-thumb {
    border-radius: 10px;
    -webkit-box-shadow: inset 0 0 6px #aaadb2;
    background: transparent;
}

.app .content{
    background: #edf0f5;
    min-height: 100%;
    padding: 100px 15px 15px 315px;
    overflow-x: hidden;
}
.app .content-area{
    width: 100%;
    height: 100%;
    background: #fff;
    box-shadow: 0 0 7px rgba(0, 0, 0, 0.1);
    padding: 20px 15px;
}

.app > .container {
    padding: 70px 15px 20px;
}

.app-header{
    height: 85px;
    background-color: #353058;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    z-index: 100;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0 15px;
}

.main-sidebar{
    width: 300px;
    position: fixed;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.15);
    left: 0;
    top: 0;
    height: 100vh;
    display: flex;
    flex-direction: column;
    padding: 85px 0;
    background-color: #fff;
    z-index: 50;
    overflow: hidden;
    transition: cubic-bezier(0, 1.29, 0.52, 1.23) .7s;
}
.main-sidebar::-webkit-scrollbar-track{
    display: none;
}

@media (max-width: 500px){
    .app .content{
        padding-left: 30px;
    }
    .main-sidebar{
        left: -250px;
    }
}

.main-sidebar .user-info{
    display: flex;
    align-items: center;
    padding: 50px 30px;
    border-bottom: 2px solid #edf0f5;
    flex-shrink: 0;
}
.user-info .avatar-wrap{
    width: 85px;
    height: 85px;
    overflow: hidden;
    border-radius: 50%;
}

.avatar-wrap > img{
    display: block;
    height: 100%;
}
.user-info .name{
    padding: 0 15px;
}

.main-sidebar .name{
    color: #6a6c6f;
    font-size: 21px;
    font-weight: 400;
    line-height: 31px;
}

.sidebar-nav{
    padding-top: 10px;
    flex-grow: 1;
    overflow-y: scroll;
    width: calc(100% + 20px);
}

.sidebar-nav ul{
    list-style: none;
    padding: 0;
    margin: 0;
}

.sidebar-nav li{
    position: relative;
}

.sidebar-nav li:before{
    content: '';
    display: block;
    position: absolute;
    transform: translateY(-50%);
    top: 50%;
    left: 20px;
    background-size: cover;
    background-repeat: no-repeat;
    width: 40px;
    height: 40px;
}

.sidebar-nav .analytic:before{
    background-image: url("../img/analytic.png");
}

.sidebar-nav .wallet:before{
    background-image: url("../img/wallet.png");
}

.sidebar-nav .category:before{
    background-image: url("../img/price-tag.png");
}

.sidebar-nav .income:before{
    background-image: url("../img/money-bag.png");
}

.sidebar-nav .outcome:before{
    background-image: url("../img/shopping-cart.png");
}

.sidebar-nav .settings:before{
    background-image: url("../img/settings.png");
}

.sidebar-nav a{
    display: block;
    height: 80px;
    font-size: 23px;
    font-weight: 400;
    line-height: 80px;
    color: #7f96a3;
    text-decoration: none;
    padding-left: 80px;
}

.sidebar-nav .active{
    background-color: #eff1f4;
}

.sidebar-nav a:hover{
    background-color: #eff1f4;
    color: #34383c;
}

.main-sidebar .logout-block{
    position: absolute;
    bottom: 0;
    left: 0;
    right: 0;
    height: 80px;
    border-top: 2px solid #edf0f5;
}

.main-sidebar .logout-btn{
    color: #7f96a3;
    font-size: 23px;
    font-weight: 400;
    line-height: 80px;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border: none;
    background: transparent;
    padding-left: 80px;
    display: block;
    text-align: left;
    width: 100%;
}

.main-sidebar .logout-btn:hover{
    background-color: #eff1f4;
    color: #34383c;
    cursor: pointer;
}

.logout-block:before{
    content: '';
    display: block;
    background: url("../img/logout.png") no-repeat;
    background-size: contain;
    width: 31px;
    height: 34px;
    position: absolute;
    top: 50%;
    left: 30px;
    transform: translateY(-50%);
    z-index: 10;
}
@media (max-height: 800px) {
    .main-sidebar .user-info{
        padding: 20px 30px;
    }
    .sidebar-nav a{
        height: 50px;
        line-height: 50px;
        font-size: 18px;
    }
    .sidebar-nav li:before{
        width: 30px;
        height: 30px;
    }
}
.activeLoader .loader{
    display: none;
    position: fixed;
    transform: translate(-50%,-50%);
    top: 50%;
    left: 50%;
    color: red;
}

.app.activeLoader .loader{
    display: block;
}

/**
 * Authorisation
 */

.authorisation{
    width: 100%;
    min-height: 100vh;
    background-color: #eff1f4;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 15px;
}

.authorisation .login-wrap{
    background-color: #fff;
    width: 100%;
    max-width: 500px;
    padding: 20px 60px;
    border-radius: 4px;
    flex-shrink: 0;
}

/**
 * CSS loader
 */

.loader {
    border: 16px solid #f3f3f3;
    border-radius: 50%;
    border-top: 16px solid #3498db;
    width: 120px;
    height: 120px;
    -webkit-animation: spin 2s linear infinite;
    animation: spin 2s linear infinite;
}
.loader.light{
    opacity: .6;
}

.loader.fast{
    -webkit-animation: spin 1s linear infinite;
    animation: spin 1s linear infinite;
}

.loader.slow{
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

@-webkit-keyframes spin {
    0% { -webkit-transform: rotate(0deg); }
    100% { -webkit-transform: rotate(360deg); }
}

@keyframes spin {
    0% { transform: rotate(0deg); }
    100% { transform: rotate(360deg); }
}

/*
 * Declaration search
 */

.search-results{
    transition: .3s;
    background: #fff;
    list-style: none;
    margin: 0;
    padding: 0;
}

.global-search{
    position: relative;
}
.global-search .search-results{
    position: absolute;
    top: 100%;
    width: 100%;
    left: 0;
    max-height: 500px;
    overflow-y: scroll;
}
.global-search .loader{
    width: 20px;
    height: 20px;
    border: 4px solid #f3f3f3;
    border-radius: 50%;
    border-top: 4px solid #3498db;
    display: none;
    position: absolute;
    right: -100%;
    bottom: 0;
}
.global-search.loading .loader{
    display: block;
}

