.wallet-item button{
    opacity: 0;
    transition: .5s;
    position: relative;
    right: -5px;
}
.wallet-item:hover button{
    opacity: 1;
    right: 0;
}

/**
 * Category page
 */

.category-page .category-item:hover{
    cursor: pointer;
}

/**
 * Income page
 */

.income-page .income-item:hover{
    cursor: pointer;
}

/**
 * Outcome page
 */

.outcome-page .outcome-item:hover{
    cursor: pointer;
}


/**
 * Analytic page
 */

.analytic-page .chart-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.chart-grid .flex-item{
    width: 300px;
    flex-grow: 1;
}

.chart-grid .flex-item.big{
    width: 100%;
    flex-grow: 1;
}
.chart-grid .chart-wrap{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart-grid .chart-wrap .loader{
    margin: auto;
}

/*
 * Settings page
 */

.settings-wrap{
    display: flex;
}

.settings-wrap .info-form{
    width: 100px;
    flex-grow: 1;
}
.settings-wrap .avatar-form{
    width: 100px;
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
}

.avatar-form .crop-wrap{
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    display: none;
}

.avatar-form .avatar-controls{
    padding: 15px;
}

.avatar-form .preview{
    border-radius: 50%;
    width: 85px;
    height: 85px;
    overflow: hidden;
}
.preview img{
    display: block;
    width: auto;
    height: 100%;
}

.avatar-form input[type="file"]{
    display: none;
}
.crop-wrap > img{
    display: block;
    width: 100%;
    height: auto;
}