/*
* Wallet page
*/

.wallet-item button{
    opacity: 0;
    transition: .5s;
    position: relative;
    right: -5px;
}
.wallet-item:hover button{
    opacity: 1;
    right: 0;
}

.controls-panel{
    margin: 10px 0;
    padding: 0 15px;
}
.controls-panel{
    display: flex;
    border: 1px solid #353058;
    border-radius: 5px;
}
.controls-panel > div{
    margin: 10px;
    position: relative;
    opacity: .7;
    transition: .3s;
    transform: scale(.8);
}
.controls-panel > div:first-of-type{
    margin-left: 0;
}
.controls-panel > div:last-of-type{
    margin-right: 0;
}
.controls-panel > div:hover{
    cursor: pointer;
    opacity: 1;
    transform: scale(1);
}
.add-wallet-btn{
    background: url("../img/add-wallet.png")no-repeat;
    width: 64px;
    height: 64px;
}
.wallet-transaction{
    background: url("../img/transaction.png")no-repeat;
    width: 64px;
    height: 64px;
}
.wallet-report-pdf{
    background: url("../img/pdf.png")no-repeat;
    width: 64px;
    height: 64px
}

/**
 * Category page
 */

.category-page .category-item:hover{
    cursor: pointer;
}

/**
 * Income page
 */

.income-page .income-item:hover{
    cursor: pointer;
}

/**
 * Outcome page
 */

.outcome-page .outcome-item:hover{
    cursor: pointer;
}


/**
 * Analytic page
 */

.analytic-page .chart-grid{
    display: flex;
    flex-wrap: wrap;
    align-items: center;
}
.chart-grid .flex-item{
    width: 300px;
    flex-grow: 1;
}

.chart-grid .flex-item.big{
    width: 100%;
    flex-grow: 1;
}
.chart-grid .chart-wrap{
    width: 100%;
    height: 400px;
    display: flex;
    justify-content: center;
    align-items: center;
}
.chart-grid .chart-wrap .loader{
    margin: auto;
}

/*
 * Settings page
 */

.settings-wrap{
    display: flex;
    flex-wrap: wrap;
}

.settings-wrap .info-form{
    width: 350px;
    flex-grow: 1;
    flex-shrink: 0;
}
.settings-wrap .avatar-form{
    width: 250px;
    flex-grow: 1;
    flex-shrink: 0;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    padding: 10px;
}

.avatar-form .crop-wrap{
    width: 250px;
    height: 250px;
    position: relative;
    overflow: hidden;
    display: none;
}

.avatar-form .avatar-controls{
    padding: 15px;
}

.avatar-form .preview{
    border-radius: 50%;
    width: 250px;
    height: 250px;
    overflow: hidden;
    margin-bottom: 20px;
}
.preview img{
    display: block;
    width: auto;
    height: 100%;
}

.avatar-form input[type="file"]{
    display: none;
}
.crop-wrap > img{
    display: block;
    width: 100%;
    height: auto;
}

/*
* Pagination
*/

.pagination-wrap{
    display: flex;
    justify-content: center;
}

/*
* Rate widget
*/
.rate-widget-block{
    padding: 0 15px;
}
.rate-widget{
    overflow: hidden;
    text-overflow: ellipsis;
    color: #fff;
    width: 75px;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
.rate-widget > span{
    display: block;
}

.rate-widget *:nth-child(1){
    width: 50%;
    text-align: left;
}
.rate-widget *:nth-child(2){
    width: 50%;
    text-align: right;
}
.rate-widget *:nth-child(3){
    width: 100%;;
}
.rate-widget .grow-up{
    color: green;
}
.rate-widget .grow-up:before{
    content: '\f062';
    font-family: "FontAwesome";
}

.rate-widget .equal{
    color: yellow;
}

.rate-widget .equal:before{
    content: '\f068';
    font-family: "FontAwesome";
}

.rate-widget .grow-down{
    color: red;
}
.rate-widget .grow-down:after{
    content: '\f063';
    font-family: "FontAwesome";
}

/*
* Socials auth
*/
.socials-auth {
    margin-top: 10px;
    padding-top: 20px;
    text-align: center;
}
.socials-auth .auth-clients{
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
}
.auth-clients > li{
    margin: 0 5px;
}